<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<body ng-app="myApp">
		<div ng-controller="myCtrl" style="margin-left:40px;">
			<style>
				h3 {
    				font-size: 18px;
    				font-weight: bold;
    				color: #8c1515;
    				margin-top: 20px;
    				margin-bottom: 0em;
				}
				table, th, td {
    				border: 1px solid black;
    				border-collapse: collapse;
				}
				.header {
					font-weight:bold;
				}
			</style>

			<h1>Magic Square Engine</h1>

			<br/>
			<div>
				<button style="color:blue;font-size:18px;font-weight: bold;" ng-click="myFunc()">Generate</button>
			</div>

			<br/>
			<table>
				<tr>
					<td>
						<input type="number" ng-model="input_num" />
					</td>

				</tr>

			</table>
			<br/><br/>
			<div ng-show="result">


				<br/>
				<h2>Dynamic Magic Square</h2>
				<a href="{{'http://edenerez.com/print_dynamic.html?param1=' + input_num}}">link to print page</a>
				<br/>
				<table>
					<tr ng-repeat="row in result">
						<td  ng-repeat="value in row">{{value}}</td>
					</tr>
				</table>
				<br/>
				<br/>
				<h2>Static Magic Square</h2>
				<a href="{{'http://edenerez.com/print_static.html?param1=' + input_num}}">link to print page</a>
				<br/>
				<table>
					<tr ng-repeat="row in result2">
						<td  ng-repeat="value in row">{{value}}</td>
					</tr>
				</table>

			</div>


		</div>
		<script>

			angular.module('myApp', [])
			  .controller('myCtrl', ['$scope', function($scope) {

				$scope.base_num = 99;
			    	$scope.input_num = 101;

			  	$scope.myFunc = function() {
					$scope.result2 = [[8, 11, 14, 1], [13, 2, 7, 12], [3, 16, 9, 6], [10, 5, 4, 15]];
					
					if ($scope.input_num < 600) {
						$scope.result = [[14, 21, 40, 19], [18, 25, 44, 23], [12, 19, 38, 17], [17, 24, 43, 22]];
					} else {
						$scope.base_num = 577;
						$scope.result = [[140, 101, 208, 133], [156, 117, 224, 149], [124, 85, 192, 117], [135, 96, 203, 128]];
					}

					var dif = $scope.input_num - $scope.base_num;
					var m = dif % 4;
					var e = (dif-m)/4;
					for (i=0; i<4; i++)
					{
						for(j=0;j<4;j++)
						{
							$scope.result[j][i] += e;
							if (j < m)
								$scope.result[j][i] += 1;
						}
					}
					
					var dif2 = $scope.input_num - 34;
					var m2 = dif2 % 4;
					var e2 = (dif2-m2)/4;
					for (i=0; i<4; i++)
					{
						for(j=0;j<4;j++)
						{
							$scope.result2[j][i] += e2;
							if (j == 0 && i == 2) 
								$scope.result2[j][i] += m2;
							if (j == 1 && i == 0) 
								$scope.result2[j][i] += m2;
							if (j == 2 && i == 1) 
								$scope.result2[j][i] += m2;
							if (j == 3 && i == 3) 
								$scope.result2[j][i] += m2;
						}
					}

			    };
			    
			  }]);
			
		</script>

	</body>

</html>
