<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<body ng-app="myApp">
		<div ng-controller="myCtrl" style="margin-left:40px; margin-right:40px;">
			<style>
				h3 {
    				font-size: 18px;
    				font-weight: bold;
    				color: #8c1515;
    				margin-top: 20px;
    				margin-bottom: 0em;
				}
				table, th, td {
    				border: 1px solid black;
    				border-collapse: collapse;
				}
				.header {
					font-weight:bold;
				}
			</style>

			<br/>
	
				<table style="width: 800px; hight: 800px;">
					<tr ng-repeat="row in result2">
						<td align="center" style="font-size: 72px;" ng-repeat="value in row">{{value}}</td>
					</tr>
				</table>

		</div>
		<script>

			angular.module('myApp', [])
			  .controller('myCtrl', ['$scope', function($scope) {

			    $scope.input_num  = 87;
					$scope.result2 = [[8, 11, 14, 1], [13, 2, 7, 12], [3, 16, 9, 6], [10, 5, 4, 15]];
          
					var dif2 = $scope.input_num - 34;
					var m2 = dif2 % 4;
					var e2 = (dif2-m2)/4;
					for (i=0; i<4; i++)
					{
						for(j=0;j<4;j++)
						{
							$scope.result2[j][i] += e2;
							if (j == 0 && i == 2) 
								$scope.result2[j][i] += m2;
							if (j == 1 && i == 0) 
								$scope.result2[j][i] += m2;
							if (j == 2 && i == 1) 
								$scope.result2[j][i] += m2;
							if (j == 3 && i == 3) 
								$scope.result2[j][i] += m2;
						}
					}
			    
			  }]);
			
		</script>

	</body>

</html>
