*{
    margin: 0;
    padding: 0;
}
body{
    background: #a2b3d9;
}
.heading_text h1{
    font-size: 55px;
    text-shadow: 1px 8px 8px #000;
    -moz-text-shadow: 1px 8px 8px #000;
    -webkit-text-shadow: 1px 8px 8px #000;
    -ms-text-shadow: 1px 8px 8px #000;
    font-weight: bold;
    font-family: helvetica;
    color: #fff;
}
.heading_text h3{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 2px 6px #fff;
    -moz-text-shadow: 1px 2px 6px #fff;
    -webkit-text-shadow: 1px 2px 6px #fff;
    -ms-text-shadow: 1px 2px 6px #fff;
    
    
}
.head_text{
    font-size: 25px;
    height: 25px;
}
.btn-primary{
    font-weight: bold;
    outline: none;
    border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
    -moz-box-shadow: 5px 5px 5px #1c5a85;
    -webkit-box-shadow: 5px 5px 5px #1c5a85;
    -ms-box-shadow: 5px 5px 5px #1c5a85;
    -o-box-shadow: 5px 5px 5px #1c5a85;
    box-shadow: 5px 5px 5px #1c5a85;
}
.btn-primary:focus{
    font-weight: bold;
    outline: none;
}
.content_sec{
    margin-top: 30px;
}
.content_text{
    margin-top: 20px;
    padding: 20px;
}
.content_text p{
    font-size: 20px;
    text-align: justify;
    line-height: 35px;
    color: #000;
}
.last{
    margin-bottom: 50px;
}
.glyphicon-check{
    margin-right: 10px;
    color: #0b779f;
}
/*Media Screen For Mobile*/
@media only screen and (min-width:320px) and (max-width:479px){
 .heading_text h1{
    font-size: 30px;
    -moz-text-shadow: 1px 8px 8px #000;
    -webkit-text-shadow: 1px 8px 8px #000;
    -o-text-shadow: 1px 8px 8px #000;
    text-shadow: 1px 8px 8px #000;
    font-weight: bold;
    font-family: helvetica;
    color: #fff;
}
.heading_text h3{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 2px 6px #fff;
    
}
.head_text{
    font-size: 16px;
    height: 15px;
}
.btn-primary{
    font-weight: bold;
    outline: none;
    border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
    box-shadow: 5px 5px 5px #1c5a85;
    -moz-box-shadow: 5px 5px 5px #1c5a85;
    -webkit-box-shadow: 5px 5px 5px #1c5a85;
    -o-box-shadow: 5px 5px 5px #1c5a85;
}
.btn-primary:focus{
    font-weight: bold;
    outline: none;
}
.content_sec{
    margin-top: 30px;
}
.content_text{
    margin-top: 60px;
    padding: 20px;
}
.content_text p{
    font-size: 16px;
    text-align: justify;
    line-height: 35px;
    color: #000;
}
.last{
    margin-bottom: 50px;
}
.glyphicon-check{
    margin-right: 10px;
    color: #0b779f;
}   
}

/*Media Screen For Tablet*/

@media only screen and (min-width:480px) and (max-width:767px){
 .heading_text h1{
    font-size: 30px;
    text-shadow: 1px 8px 8px #000;
    -moz-text-shadow: 1px 8px 8px #000;
    -webkit-text-shadow: 1px 8px 8px #000;
    -o-text-shadow: 1px 8px 8px #000;
    font-weight: bold;
    font-family: helvetica;
    color: #fff;
}
.heading_text h3{
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 2px 6px #fff;
    
}
.head_text{
    font-size: 20px;
    height: 18px;
}
.btn-primary{
    font-weight: bold;
    outline: none;
    border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
    box-shadow: 5px 5px 5px #1c5a85;
    -moz-box-shadow: 5px 5px 5px #1c5a85;
    -o-box-shadow: 5px 5px 5px #1c5a85;
    -webkit-box-shadow: 5px 5px 5px #1c5a85;
}
.btn-primary:focus{
    font-weight: bold;
    outline: none;
}
.content_sec{
    margin-top: 30px;
}
.content_text{
    margin-top: 60px;
    padding: 20px;
}
.content_text p{
    font-size: 16px;
    text-align: justify;
    line-height: 35px;
    color: #000;
}
.last{
    margin-bottom: 50px;
}
.glyphicon-check{
    margin-right: 10px;
    color: #0b779f;
}   
}

/*Media For Computer Version*/
@media only screen and (min-width:768px) and (max-width:1023px){
 .heading_text h1{
    font-size: 45px;
    text-shadow: 1px 8px 8px #000;
    font-weight: bold;
    font-family: helvetica;
    color: #fff;
}
.heading_text h3{
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 2px 6px #fff;
    
}
.head_text{
    font-size: 20px;
    height: 20px;
}
.btn-primary{
    font-weight: bold;
    outline: none;
    border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
    box-shadow: 5px 5px 5px #1c5a85;
    -moz-box-shadow: 5px 5px 5px #1c5a85;
    -webkit-box-shadow: 5px 5px 5px #1c5a85;
    -o-box-shadow: 5px 5px 5px #1c5a85;
}
.btn-primary:focus{
    font-weight: bold;
    outline: none;
}
.content_sec{
    margin-top: 30px;
}
.content_text{
    margin-top: 60px;
    padding: 20px;
}
.content_text p{
    font-size: 16px;
    text-align: justify;
    line-height: 35px;
    color: #000;
}
.last{
    margin-bottom: 50px;
}
.glyphicon-check{
    margin-right: 10px;
    color: #0b779f;
}   
}